body{
    overflow-x: hidden;
}
.main{
    max-width: max-content;
     /* margin-left: 10%; */
}
.Navbarmain{
    /* background: red; */
    display: flex;
    flex-direction: row;
    width: 1090px;
    height: 60px;
    margin-left: 15%;
    margin-top: 40px;
    justify-content: space-between;

    
}
.Navbarimg{
       margin-top: 10px;
       margin-right: 5px;
}
.Navbarfirst{
    width: 50%;
  /* position: absolute; */
    display: flex;
    flex-direction: row;
}
.Navbarfirst1{
    display: flex;
    flex-direction: row;
}
.Navbarfirst12{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
}
.tm{
    font-size: 10px;
    margin-left: 3px;
    font-weight: bold;
}
.Navbarfirst2{
    display: flex;
    flex-direction: row;
    align-items: center;;
    margin-left: 42px;
    gap: 28px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: -1px;
    
}
.home{
    font-weight: bolder;
    color: #ff5555;
}
.Navbarsecond{
    /* background: blue; */
    display: flex;
    flex-direction: row;
   /* justify-content: end; */
}
.Navbarsecond1{
 width: 180px;
 height: 60px;
 background: #000;
 border-radius: 7px;
 
}
.Navbarbutton{
    font-size: medium;
    color: white;
    background: #000;
    border: none;
    margin-left: 30%;
    margin-top: 18px;

}
.start3{
    width: 48px;
    height: 48px;
    /* margin-left: 79.9px; */
    margin-left: 7%;
    margin-top: 20px;
}


.sectionleft1{
    /* margin-left:200px ; */
    margin-left: 15%;
}
.sectionleft1content{
    width: 618px;
  
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: -4px;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: -30px;
}

.sectionleft1content {
    display: inline-block;
    padding: 20px;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 0, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(255, 255, 255, 1)); */
    border-radius: 10px;
}

.sectionleft1content h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 2em;
    margin-left: -20px;
    background: -webkit-linear-gradient(black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sectionleft1para{
    width: 588px;
    margin-top: -20px;
    margin-bottom: 30px;
    /* font-family:'Courier New', Courier, monospace;*/
     /* font-family: 'Arial Black', sans-serif;  */
     font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    opacity: 0.5;
    /* letter-spacing: -1px; */
    word-spacing: 2px;

}
.sectionleft1down{
    width: 374px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.sectionleft1downget{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background: black;
    color:white;
    width: 50%;
    border-radius: 4px;
    /* font-family:'Courier New', Courier, monospace; */
    /* font-family: 'Arial Black', sans-serif; */
    font-family: 'Roboto', sans-serif;
    letter-spacing: -1px;
    word-spacing: -1px;
    padding-left: 5%;
    font-weight: 400;
}
.sectionleft1downwatch{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.vectorarrow{
    margin-top: 10px;
}

.sectionleft1complex{
    width: 569px;
    height: 558px;
    margin-top: 100px;
    position: relative;
}
.sectionleft1complexstar{
    width: 48px;
    height: 48px;
   margin-left: 120px;

}
.complexmain{
    display: flex;
    flex-direction: row;
    width: 478px;
    height: 70px;
    transform: rotate(-28deg);
    margin-bottom: 200px;
    background: black;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
    position: absolute; 
    z-index: 2;
    

}
.complexmaina{
    transform: rotate(28deg);
    margin-left: -67px;
    margin-top: -16px;
}
.complexcup{
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    font-size: 15px;
    gap: 10px;
    align-items: center;
    margin-left: -25px;
}
.complexempty{
    width: 2px;
    height: 40px;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;

    
}
.complexrectangle{
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    gap: 10px;
    align-items: center;
}
.complexcupimage{
    transform: rotate(28deg);
}
.complexrectangleimage{
    transform: rotate(28deg);
}
.complexcuppara{
    font-size: 12px;
}
.complexrectanglepara{
    font-size: 12px;
}

.sectionleft1complexmiddle{
    background:  #ff5555;
    width: 352px;
    height: 70px;
    transform: rotate(-45deg);
    position:absolute;
    z-index: 1;
    margin-left: 170px;
    margin-top:35px;
    border-radius: 5px;

}
.sectionleft1complexmiddlepara{
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    font-weight: bolder;
}
.sectionleft1complexend{
    display: flex;
    flex-direction: row;
    background: #ff5555;
    width: 256px;
    height: 71px;
    margin-left: 245px;
    margin-top: 145px;
    border-radius: 5px;
}
.starcomplex{
    margin-left: 90px;
    transform: rotate(-45deg);
    margin-top: 10px;
}
.starcomplexempty{
    width: 2px;
    height: 50px;
    background: black;
    margin-right: 5px;
    margin-top: 10px;
}
.starcomplexdown{
    align-items: center;
}
.section1{
display: flex;
flex-direction: row;
}

.sectionright{
    margin-top: -60px;
    position: relative;
}
.sectionrighttopstart{
    
       transform: rotate(-45deg);

}
.sectionrightellipse{
    position: absolute;
    z-index: -1;
}
.sectionrightmobile1{
    position: absolute;
    z-index: 1;
    margin-left: 65%;
    margin-top: 200px;
}
.sectionrightmobile1screenframe{
    position: absolute;
    z-index: 1;
    margin-left:22px;
    margin-top:-540px;
    opacity: 1;
}
.sectionrightmobile1frame{
    position: absolute;
    z-index: 2;
    margin-left:35px;
    margin-top:-525px; 
}



.sectionrightmobile2{
    position: absolute;
    z-index: 1;
    margin-left: 100px;
    margin-top: 150px;
}
.sectionrightmobile2frame{
    position: absolute;
    z-index: 2;
    margin-left:15px;
    margin-top:-545px; 

}

.sectionrightmobile3{
     
      margin-top: 70px;
      z-index: 10;
      position: relative;
      margin-left: -20px;
     
    }
.sectionrightmobile3frame{
     position: absolute;
     margin-top: -520px;
     margin-left: 32px;
     z-index: 5;
}
.section2{
    display: flex;
    flex-direction: row;
    margin-top: -180px;
}

.section2left{
    /* margin-left:100px ; */
    margin-left: 7%;
    width: 100%;
}
.section2leftstar{
    margin-left: -50px;
}

.section2mobileframe{
    position: absolute;
    z-index: 1;
    transform: rotate(15deg);
    align-items: center;
    margin-left: 12%;
    margin-top: 85px;
}
.section2screenframe{
    position: absolute;
    z-index: 2;
   /* background: black; */
   transform: rotate(15deg);
   margin-left: 13.5%;
   margin-top: 105px;
}
.section2screen{
    position: absolute;
    z-index: 5;
   /* background: black; */
   transform: rotate(15deg);
   margin-left: 14%;
   margin-top: 125px;

}
.section2right{
    width: 780px;
    margin-top: 150px;
    align-items: center;
    /* margin-right: 200px; */
    margin-right: 15%;
}
.section2rightboth{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: -20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: -0.5px;
}
.section2rightpara{
    opacity: .5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: -2px;
    font-size: 14px;
}
.section2rightfeature{
    color: #ff5555;
    margin-bottom: -10px;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}
.section2rightheading{
    font-size: 40px;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: 'Arial Black', sans-serif;
    font-weight: bolder;
}
.section3{
    display: flex;
    flex-direction: row;
    margin-top: 300px;
}

.section3left{
    width: 535px;
    /* margin-left: 200px; */
    margin-left: 15%;
    margin-top: 100px;
}
.section3both{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    font-family: 'Arial Black', sans-serif;
    font-size: 20px;
}
.section3para{
    opacity: .5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: 2px;
  
}
.section3right{
    margin-top: -100px;

    /* position: relative; */
}
.section3rightellipse{
    position: absolute;
    z-index: -1;
}

.section3rightmobileframe{
    position: absolute;
    z-index: 1;
    transform: rotate(15deg);
    margin-left: 190px;
    margin-top: 100px;

}

.section3rightscreen{
 position: absolute;
    z-index: 3;
    transform: rotate(15deg);
    margin-left: 205px;
    margin-top: 110px;
    
}
.section3righthover{
    position: absolute;
    z-index: 5;
    margin-top: 310px;
    margin-left: 305px;
}
.section4{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.section4right{
    width: 800px;
    margin-top: 250px;
    margin-right: 10%;
}
.section4both{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: 'Arial Black', sans-serif;
    letter-spacing: -1px;
}
.section4para{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: 2px;
    
    opacity: .5;
}
.section4visacard{
    position: absolute;
    z-index: 5;
    margin-left: 280px;
    margin-top: 210px;
}
.section5{
    
      margin-top: 400px;
      text-align: center;
      margin-bottom: 50px;
}
.section5para{
    /* margin-left: 40%; */
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;  
}
.section5para2{
    margin-left: 40%px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Arial Black', sans-serif;
}

.section6{
    /* margin-left: 100px; */
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    position: relative;
    gap: 70px;
}
.section6ellipse{
    position: absolute;
    z-index: -1;

}
.section6testi{
    margin-top: 90px;
    margin-left: 80px;
}
.section6right{
    
    margin-top: 200px;
    width: 800px;
    /* margin-right: 200px; */
    margin-right: 15%;
 
}
.section6rightheading{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Arial Black', sans-serif;
}

.section6rightpara{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: 2px;  
    opacity: .5;
}
.section6rightpara2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.section7{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    /* margin-left: 200px; */
    margin-left: 12%;
    gap: 40px;
    /* margin-right: 200px; */
    margin-right: 12%;

}
.section7both{
    width: 568px;
    background: #ff5555;
    height: 140px;
    border-radius: 5px;
    align-items: center;
    font-family: 'Arial Black', sans-serif;
}
.section7both1{
    width: 568px;
    /* background: #ff5555; */
    height: 140px;
    border-radius: 5px;
    align-items: center;
    
}
.section7heading{
    padding-top: 20px;
    padding-left: 30px;
    /* font-family:'Courier New', Courier, monospace; */
    font-family: 'Arial Black', sans-serif;
    color: rgb(255, 255, 255);
    
}
.section7para{
    padding-left: 30px;
    padding-right: 20px;
    /* font-family:'Courier New', Courier, monospace; */
    word-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: 2px;
    color: white;
}
.section7heading1{
    padding-top: 20px;
    padding-left: 30px;
    /* font-family:'Courier New', Courier, monospace; */
      /* color: gold; */
    /* color: white; */
    font-family: 'Arial Black', sans-serif;
}
.section7para1{
    padding-left: 30px;
    padding-right: 20px;
    /* font-family:'Courier New', Courier, monospace; */
    word-spacing: 2px;
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: 2px;
}
.section7right{
    margin-top: 50px;
}
.section7star{
    transform: rotate(25deg);  
    margin-top: 140px;
 
}
.section7faq{
    /* font-family:'Courier New', Courier, monospace; */
    font-family: 'Arial Black', sans-serif;
    color: #ff5555;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: -10px;
}


.section7f{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Arial Black', sans-serif;
}
.section8 {
    display: flex;
    flex-direction: row;
    /* margin-left: 200px; */
    margin-left: 15%;
    margin-top: 100px;
    gap: 7%;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Arial Black', sans-serif; */
    font-weight: 100;
}

.section8input {
    display: flex;
    flex-direction: row;
    background: #e1dede;
    height: 70px;
    width: 300px;
}

.section8button {
    background: black;
    color: white;
    padding: 25px 40px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bolder;
    margin-left: 100px;
}

.section8field {
    height: 70px;
    font-size: 20px;
    border: none;
    margin-top: 25px;
    margin-right: 20px;
    opacity: 0.5;
    padding-left: 20px;
}

.section8logoboth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 15px;
}

.section8emailboth,
.section8callboth {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* font-weight: bolder; */
    font-size: 20px;
    margin-top: 30px;
}

.section8 h4 a {
    color: inherit; /* Inherits the color from the parent element */
    text-decoration: none; /* Removes the underline from the link */
    transition: color 0.3s ease; /* Smooth transition for color change */

}

.section8 h4 a:hover {
    color: #ff4d4d; /* Changes color on hover */
}

.belowsection8{
    width: 80%;
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  
   margin-left: 10%;

}

.section9{
    width: 1090px;
    height: 508px;
    /* margin-left: 200px; */
    margin-left: 15%;
    margin-top: 200px;
    /* background: #a9a4a4; */
    background: #000;
    position: relative;
}
.sectionlefttop{
    position: absolute;
    margin-top: 12%;
    z-index: 2;

}
.section9left{
    
    width: 547px;
    height: 196px;
    margin-left: 85px;
    align-items: center;
    color: white;
    
    /* background: #d6cdcd; */
}
.section9left h1{
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    word-spacing: -5px;
    letter-spacing: -3.5px;
    color: white;
    margin-bottom: -1px;
}
.section9left p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-spacing: -2px;
    /* letter-spacing: -0.5px; */
    letter-spacing: 1px;

    /* line-height: 20px; */
    font-size: 18px;
    opacity: .8;
}
.section9leftboth{
    display: flex;
    flex-direction: row;
    background: white;
    color: black;
    width: 208px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    padding-left: 30px;
    

}
.section9ellipseleft{
    position: absolute;
    margin-top: 200px;
}
.section9rightellipse{
    position: absolute;
    margin-left: 67%;
}
.section9topstar{
    position: absolute;
    margin-left: 60%;
    margin-top: 7%;
}
.section9leftstar{
    position: absolute;
    margin-left: 80%;
    transform: rotate(-28deg);


}
.section9rightellipsecolor{
    position: absolute;
    margin-left: 65%;
}
.section9topcolor{
    position: absolute;
}
.section6topcolor{
    position: absolute;
    margin-left: 15%;
    margin-top: 100px;
}
.section5topcolor{
    position: absolute;
    margin-left: 15%;
    margin-top: 400px;
}
.section3topcolor{
    position: absolute;
    margin-left: 55%;
    margin-top: 400px;
    transform: rotate(98deg);

}
.section2topcolor{
    position: absolute;
    margin-left: 70%;
    margin-top: -50px;
    transform: rotate(98deg);

}
.section2topcolorright{
    position: absolute;
  /* margin-top: 400px; */
  margin-left: 20%;
}
.section1topleft{
    position: absolute;
    margin-top: -150px;
    margin-left: 22%;
    transform: rotate(138deg);
    z-index: -1;
}
.section1topright{
    position: absolute;
    z-index: -1;
    margin-left: 55%;
    margin-top: 300px;
}


/* mobile section */

.firstmobile{
    position: relative;
}
.firstmobile1{
    position: absolute;
    z-index: 18;
    margin-left: 95%;
    margin-top: -240px;
}
.firstmobile2{
    position: absolute;
    z-index: 19;
    margin-left: 96%;
    margin-top: -234px;
}
.firstmobile3{
    position: absolute;
    z-index: 21;
    margin-left: 97.5%;
    margin-top: -224px;
    width: 270px;
}
.secondmobile{
    position: relative;
}
.secondmobile1{
    position: absolute;
    z-index: 10;
    margin-left: 128%;
    margin-top: -274px;
}
.secondmobile2{
    position: absolute;
    z-index: 15;
    margin-left: 129.5%;
    margin-top: -268px;
}
.secondmobile3{
    position: absolute;
    z-index: 16;
    width: 200px;
    margin-left: 131%;
    margin-top: -238px;
}

.thirdmobile{
    position: relative;
}
.thirdmobile1{
    position: absolute;
    z-index: 1;
    margin-left: 151%;
    margin-top: -300px;
}
.thirdmobile2{
    position: absolute;
    z-index: 2;
    margin-left: 152%;
    margin-top: -290px;
}
.thirdmobile3{
    position: absolute;
    z-index: 3;
    width: 120px;
    margin-left: 155%;
    margin-top: -250px;
}
.mobileshadow{
    position: relative;

}
.mobileshadow1{
    position: absolute;
    margin-left: 151.5%;
    margin-top: -300px;
    z-index: 5;
}
.mobilestar{
    position: relative;
   
}
.mobilestar1{
    position: absolute;
    margin-left: 180%;
    z-index: 50;
    margin-top: -450px;
    transform: rotate(-50deg);
}
.testistar{
     margin-left: 70%;
     margin-bottom: -100px;

}
.testistar1{
    transform: rotate(-52deg);
}
.section3star{
    margin-left: 90%;
    margin-bottom: -100px;
}
.copyright{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 700;
}